/*
Theme Name:     Project Summary Theme
Author:         Hannes Härm
Description:    A custom theme for project summary plugin. Theme is required for project summary plugin to work properly
Version:        1.0
 */

.content-padding {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 992px) {
    .content-padding {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .content-padding {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .content-padding {
        max-width: 1340px;
    }
}

.container {
    margin-bottom: 60px;
}

.link-item {
    cursor: pointer;
}

.link-item-hover:hover {
    color: #606060;
}

.link-item-disabled, .link-item-disabled:hover {
    color: grey;
    cursor: default;
}

