.custom_error_wrapper {
    border: 1px solid;
    margin: 5px 0px;
    padding: 5px 10px 10px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: #FFCCBA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.custom_error_wrapper p {
    color: #D63301;
}