.list-group-item.parent[aria-expanded="true"] {
    background-color: #212529;
    color: white;
}

.list-group-item.grand-parent[aria-expanded="true"] {
    background-color: #0d6efd;
    color: black;
}

.no-user {
    color: red;
}

.status-incomplete {
    color: #ff6e01;
}