.custom-aria-expanded[aria-expanded="true"] {
    background-color: #0d6efd;
}

.custom-aria-expanded[aria-expanded="true"],
.custom-aria-expanded-meta[aria-expanded="true"] {
    color: black;
}

.custom-aria-expanded-meta[aria-expanded="true"] {
    background-color: #549bff;
}

.collapsing {
    transition: none !important;
}

.heading-border {
    border-bottom: 1px solid black;
}

.markdown-text p {
    padding-bottom: 0em;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.status-incomplete {
    color: #ff6e01;
}

[aria-expanded="true"] .status-incomplete {
    color: #ffb292;
}